/* Global CSS */
body {padding:0;background-color:#f0f0f0; line-height:25px; font-size:14px; color:#000; font-family:宋体;}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,img,textarea,blockquote,p {padding:0; margin:0;}   
ul,li {list-style:none;}
input,select,textarea,table,td {font-size:14px;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;border:0;font:14px normal;}
img{border:0;}
h1{ margin:0px; padding:0px; font-size:18px; color:#2f1c07; font-weight:bold; text-align:left; font-family:宋体}
h2{ margin:0px; padding:0px; font-size:14px; color:#999999; text-align:left; font-family:宋体}
h3{ margin:0px; padding:0px; font-size:12px; color:#666666; text-align:left; font-family:宋体}

p, blockquote, ul, ol {margin-bottom: 1.5em;line-height: 1.8em;}

p {}

blockquote {}

ul {margin-left: 2em;list-style: square; line-height: 1.8em}

ul li {}


.errorbtn{-moz-box-shadow:inset 0 1px 0 0 #a4e271;-webkit-box-shadow:inset 0 1px 0 0 #a4e271;box-shadow:inset 0 1px 0 0 #a4e271;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#89c403),color-stop(1,#77a809));background:-moz-linear-gradient(center top,#89c403 5%,#77a809 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403',endColorstr='#77a809');background-color:#89c403;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:1px solid #74b807;display:inline-block;color:#fff;font-family:arial;font-size:15px;font-weight:bold;padding:6px 12px;text-decoration:none;text-shadow:1px 1px 0 #528009;}
.errorbtn:hover{text-decoration:none;color:#fff;background:-webkit-gradient(linear,left top,left bottom,color-stop(0.05,#77a809),color-stop(1,#89c403));background:-moz-linear-gradient(center top,#77a809 5%,#89c403 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809',endColorstr='#89c403');background-color:#77a809;}
.errorbtn:active{position:relative;top:1px;}

/* Link */
a{color:#990000; text-decoration:none;}
a:hover{color: #0099FF; text-decoration:none;}
/* Clear */
.clear { clear: both; font-size:1px; height:0px; line-height:0px; width:1px; visibility: hidden;margin-top:0px !important;margin-top:-2px;}/*ie and firefox1.5 updata */




.ul {
	margin: 0;
	list-style: square;
	
}

.ul li {
	margin-bottom: 1em;
	line-height: 1.8em
}
