@charset "gb2312";
html {
	height:100%;
	border:0 none;
}
body {
	background-color: #FFFFFF;
	color: #444444;
	margin:0;
	padding:0;
	height: 100%;
	border: 0 none;
	font-size: 12px;
}
ul, ol, dl, li {
	list-style: none;
}
body, input, textarea, select, button {
	margin: 0;
	font-family: Tahoma, SimSun, sans-serif;
	-webkit-text-size-adjust:none;
}
.loginPageBody {
	background:url(images/loginbodybg.gif) repeat-x left center #d6dedf;
}
.LoginWrapbg {
	background:url(images/loginimgbg.jpg) no-repeat center center;
	height:100%;
}
.loginLogo {
	width: 266px;
	height: 45px;
	margin: 0 auto;
	/*background: url(images/logo_login.png);*/
}
.welcome {
	color: #2477b3;
	font-family: "微软雅黑", Tahoma, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 0;
	padding-top: 10px;
	padding-left: 20px;
	letter-spacing: 2px;
	text-align:center;
}
.loginBar {
	width: 345px;
	padding-top: 60px;
	padding-left: 50px;
	font-size:14px;
}
.tableLogin {
	width:100%;
	margin-top:10px;
}
.tableLogin tr {
	text-align: left;
	width: 300px;
	height: 40px;
	padding-top: 10px;
	overflow: hidden;
}
.lable {
	padding-top: 3px;
	width: 90px;
	float: left;
	color: #333333;
	font-size: 14px;
	text-align: right;
}
.inputWrap {
	background: url(images/loginInputWrapbg.gif) no-repeat left top;
	height: 28px;
	line-height: 16px;
	border: none;
	width: 200px;
	float: left;
}
input.inputText {
	background: transparent none;
	border: none;
	margin-top: 3px;
	_margin-top: 1px;
}
.inputWrap .inputText {
	width: 192px;
	height: 20px;
	font-size: 14px;
	padding-left: 6px;
	margin-top: 0px;
	padding-top: 4px;
}
.btnBg {
	width: 100px;
	height: 34px;
	background: url(images/loginbtn.gif) no-repeat;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
	border: 0;
}
.copyright {
	padding-top: 10px;
	text-align: center;
}
img {
	vertical-align: middle;
}
ul, dl, dt, dd, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* topFrame */
.themeContent { display:block; overflow:hidden;font:bold 20px/45px "微软雅黑","宋体"; }
.themeContent .themeList li div { background:url(./images/themeButton.png) no-repeat;}
.themeContent .themeList { position:absolute; top:30px; right:10px;}
.themeContent .themeList li { float:left; padding:0 3px;}
.themeContent .themeList li div { display:block; overflow:hidden; width:13px; height:11px; text-indent:-100px; cursor:pointer;}
.themeContent .themeList li.blue div { background-position:0 0;}
.themeContent .themeList li.blue .selected { background-position:0 -20px;}
.themeContent .themeList li.green div { background-position:-20px 0;}
.themeContent .themeList li.green .selected { background-position:-20px -20px;}
.themeContent .themeList li.yellow div { background-position:-40px 0;}
.themeContent .themeList li.yellow .selected { background-position:-40px -20px;}
.themeContent .themeList li.purple div { background-position:-60px 0;}
.themeContent .themeList li.purple .selected { background-position:-60px -20px;}
.themeContent .themeList li.silver div { background-position:-80px 0;}
.themeContent .themeList li.silver .selected { background-position:-80px -20px;}
.themeContent .themeList li.azure div { background-position:-100px 0;}
.themeContent .themeList li.azure .selected { background-position:-100px -20px;}